@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 0 0% 98%;
  --sidebar-primary-foreground: 240 5.9% 10%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-radial {
  background: radial-gradient(
    56.03% 64.91% at 50% 1.43%,
    rgba(9, 222, 237, 0.3) 0%,
    rgba(9, 222, 237, 0) 100%
  ),
    #dfeeef;
}

.healthGradient {
  border-radius: 12px;
  background: linear-gradient(
    262deg,
    rgba(9, 222, 237, 0) 20.43%,
    #35e4f0 67.35%
  );
}

.lifeGradient {
  border-radius: 12px;
  background: linear-gradient(
    266deg,
    rgba(244, 184, 100, 0) 1.17%,
    #f4b864 78.43%
  );
}

.shadowOrange {
  box-shadow: 0px 0px 15px 0px #ed8e09;
}

.adminLayoutGrid {
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "aside main";
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.bg-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f97316' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* styles.css o en tu archivo de estilos global */
.scrollbar-thin {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* Para Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Color del fondo de la pista */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Color al pasar el mouse */
}
